html {  
background-color: #CEECF5; 
} 

#nav4 {  
font-size: 24px;
text-align: center;
background-color: #E6E6E5 ;
    filter:alpha(opacity=100);
    opacity:.55

}

#nav4:hover{  
font-size: 24px;
text-align: center;

    filter:alpha(opacity=100);
    opacity:1
    
} 

h2 {  
font-size: 12px; 
opacity: 0; 
background-color:  ;
}  

h2:hover{ 
font-size: 14px;
opacity: 1.2;
text-align: left;
}  

footer {
   position: absolute ;
   bottom:0;
   width:100%;
   height:0px;   /* Height of the footer */ 

   
}   



h1 {  
text-align: center; 
background-color: #CEECF5;

}

#Questions {  
text-align: center ;
font-size: 20px;
background-color: #CEECF5;

}   

#Questions p { 
width: 200px;
margin: auto ;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
background-color: #E6E6E5 ;
border: solid black;
 
}






head { 
background-color: #E6E6E5 ; 
}  


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 600px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


body {  
background-color: #CEECF5;
}



button {  
	width: 100px;  
	height: 50px;
	color: red;
}



